@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Quicksand:wght@300;400;500;600;700&display=swap');

@font-face {
	font-family: 'SCDream1';
	src: url('/fonts/SCDream1.otf') format('opentype');
}

@font-face {
	font-family: 'SCDream2';
	src: url('/fonts/SCDream2.otf') format('opentype');
}

@font-face {
	font-family: 'SCDream3';
	src: url('/fonts/SCDream3.otf') format('opentype');
}

@font-face {
	font-family: 'SCDream4';
	src: url('/fonts/SCDream4.otf') format('opentype');
}

@font-face {
	font-family: 'SCDream5';
	src: url('/fonts/SCDream5.otf') format('opentype');
}

@font-face {
	font-family: 'SCDream6';
	src: url('/fonts/SCDream6.otf') format('opentype');
}

@font-face {
	font-family: 'SCDream7';
	src: url('/fonts/SCDream7.otf') format('opentype');
}

:root {
	--blue-green: #56ac9a;
	--cream: #f8f0de;
	--grey: #707073;
	--brown: #8e7f89;
	--skyblue: #61a6ad;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	
}

*{
	margin: 0;
	padding: 0;
}

/* 
body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
} */
